[2020-10-29 16:09] luisenp opened #8 "Add option to rollout multiple model samples of the same sequence of action"
If we want to plot out multiple samples from the model, would it make sense to change the interface here to include a `n_samples` arg and change the return?

_Originally posted by @bamos in https://github.com/fairinternal/mbrl-lib/pull/5#r513791234_

[2020-11-19 16:58] #8 closed, assigned to luisenp

[2020-12-21 20:31] luisenp opened #22 "Add unit tests for util.py"
Most of the functions in `util.py` are missing unit tests, and they provide a lot of the library's functionality, so they should be tested carefully.

[2020-12-21 20:34] luisenp opened #23 "Implement iCEM"
There is a newer version of CEM that uses colored noise, which is correlated in time. [This](https://arxiv.org/pdf/2008.06389.pdf) paper describes the method, along with several additional improvements. Having this as a new agent (or a modified version of CEMAgent) would be a great addition.

[2020-12-21 20:35] luisenp opened #24 "Add documentation for util.py"
All functions in this module are missing docstrings.

[2020-12-21 20:38] luisenp opened #25 "Add CI support with Github Actions"
Add CircleCI configuration. Consider the use of `nox`, as done, for example, in [this](https://github.com/facebookresearch/active-mri-acquisition/tree/master) repository. Wait until #21 is merged before addressing this issue.

[2020-12-21 23:00] luisenp opened #26 "Add tests covering scripts in diagnostics folder"
Currently there is no way to automatically tell if major changes are affecting diagnostics tool w/o running the scripts (which requires firing a training job, getting the config file, running, etc.). This should be automated to avoid problematic development cycles.

[2020-12-22 22:00] luisenp opened #29 "Add documentation for logger module"
This module is lacking docstrings.

[2021-01-06 19:28] #24 closed, assigned to luisenp

[2021-01-06 19:39] luisenp opened #31 "Add documentation for replay_buffer module"

[2021-01-06 22:39] luisenp opened #32 "Add a getting started example to the README"
Add an example notebook on how to write PETS using the tools in the library.

[2021-01-06 22:41] luisenp opened #33 "Add script to analyze results from multiple runs and display statistics"
Given a run using Hydra multirun folder structure, and our logger output, display results with confidence intervals and summary statistics.

[2021-01-07 15:57] #31 closed, assigned to luisenp

[2021-01-07 17:10] #29 closed, assigned to luisenp

[2021-01-14 22:12] #32 closed, assigned to luisenp

[2021-01-14 22:16] luisenp opened #37 "Add README file for diagnostics folder"
- Document the usage and purpose of the different scripts in this folder.
- Add images and videos where applicable.
- Add a link to the main README.

[2021-02-19 14:13] luisenp opened #38 "Add elite for ensemble models as in MBPO"
Prediction is actually that of the elite members of the ensemble.

[2021-02-20 09:07] luisenp opened #41 "Add configurable activation function to MLP models"

[2021-03-08 21:41] #38 closed, assigned to luisenp

[2021-03-08 21:41] #22 closed, assigned to nobody

[2021-03-17 01:33] omry opened #48 "Usage of an explicit overrides node"
Heya,

I think this not a great idea, happy to discuss why:

https://github.com/facebookresearch/mbrl-lib/blob/c7a7425d6ac74d781cececc5c440eab87f4b7c67/mbrl/algorithms/pets.py#L24

[2021-03-18 01:32] #25 closed, assigned to nobody

[2021-03-25 18:58] #26 closed, assigned to nobody

[2021-04-07 11:43] RaghuSpaceRajan opened #66 "[Feature Request] Training data selection: Create more "interesting" Replay Buffer Iterators"
# 🚀 Feature Request

Create Replay Buffer Iterators that can select training and validation data in various "interesting" ways, similar to `TransitionIterator` and `BootStrapIterator` in
[https://github.com/facebookresearch/mbrl-lib/blob/b0aabd79941efe8b56bcabbd1b43bf497b9b1746/mbrl/replay_buffer.py](https://github.com/facebookresearch/mbrl-lib/blob/b0aabd79941efe8b56bcabbd1b43bf497b9b1746/mbrl/re

[2021-04-07 17:41] natolambert opened #67 "[Feature Request] Rich Logging Option"
# 🚀 Feature Request

A configuration option to save all data for every trial.

## Motivation
When debugging it can be very useful to see the intricate details of how different trials played out, without having to re-run computationally intensive experiments.

**Is your feature request related to a problem? Please describe.**
The replay buffer class is very efficient and elegant for running the alg

[2021-04-20 01:47] #37 closed, assigned to luisenp

[2021-04-26 03:54] a3ahmad opened #75 "[Bug]"
## Steps to reproduce

  1. Run either 'python -m pytest tests/mujoco' or 'python -m pytest tests/algorithms'

## Observed Results

mbrl/planning/trajectory_opt.py:340: in act
    plan = self.optimizer.optimize(trajectory_eval_fn)
mbrl/planning/trajectory_opt.py:227: in optimize
    callback=callback,
mbrl/planning/trajectory_opt.py:134: in optimize
    values = obj_fun(population)
mbrl/planning/t

[2021-04-26 03:58] a3ahmad commented on #75
I was on an earlier revision

[2021-04-26 03:58] #75 closed

[2021-04-26 10:27] alexanderimanicowenrivers opened #76 "Implement PILCO [Feature Request]"
# 🚀 Feature Request

PILCO: A Model-Based and Data-Efficient Approach to Policy Search. - http://mlg.eng.cam.ac.uk/pub/pdf/DeiRas11.pdf

- PILCO is SOTA for small d systems and would be great to be able to compare against it.

[2021-04-26 19:25] luisenp commented on #76
Hi @alexanderimanicowenrivers. Thanks a lot for the feature request! I'm definitely interested in adding PILCO to the library. Unfortunately, it'll probably take a while as our current road map is going in a different direction, and I think it requires some extra infrastructure to set up, but it's also on my TODO list.

[2021-04-27 21:27] a3ahmad commented on #33
I've started on a basic training results viewer in my fork, what would be the best way to collaborate and have it ideally hit your goals here?

[2021-04-27 22:05] natolambert commented on #33
I made this before I was aware of how the diagnostics folder was structured, maybe we should move it there? https://github.com/facebookresearch/mbrl-lib/blob/plotting/notebooks/plot_over_trials.ipynb

[2021-04-28 13:18] luisenp commented on #33
@a3ahmad @natolambert Thanks a lot! A pull request would be the best way to get started, then we can discuss there a bit if any adjustments are necessary :)

[2021-04-28 19:29] a3ahmad commented on #33
Done, this is a first pass effort I initially built for my own use. But since you had a similar ask I thought I would offer it as a starting point. Happy to make any changes to bolster it, if you feel it's worthwhile. If not, no problem -- I'll keep using it locally :)

[2021-04-29 07:09] SongyiGao opened #78 "[Bug] The generator in ModelEnv Class"
## [Current Code](https://github.com/facebookresearch/mbrl-lib/blob/c4c90f764ecb3ba78b69214c150c5619a1bbeede/mbrl/models/model_env.py#L56)

[code]

## Correct Code

[code]

[2021-04-29 12:24] luisenp commented on #78
Thanks for pointing this out!

[2021-04-29 12:35] #78 closed

[2021-05-06 11:21] soldierofhell opened #81 "[Feature Request] (partially) known dynamics"
Hi,
Usually in practice we have some dynamic model which at least approximate the true environment x_{t+1} = f(x_t, u_t) (e.g from Newton laws). My question is how to include this a priori knowledge in model of dynamics? It seems like we could have better starting point, faster learning, stability and reasonable output

Regards,

[2021-05-07 14:39] luisenp commented on #81
Hi. Thanks for the interest in the library. This is definitely an interesting research direction, and I'm not sure there is a definite answer yet. This [paper](https://arxiv.org/pdf/2012.06250.pdf) seems relevant. Is this more or less what you have in mind?

[2021-05-07 17:48] soldierofhell commented on #81
Thanks, this is exactly what I was asking, great survey.

[2021-05-11 13:23] app1ep1e opened #83 "pets_example.ipynb problem"
i run the pets_example.ipynb and what i get the following error:

i am not sure if it's my package's compatible problem.
so i am not sure following error is bug or not.
python:3.7.10
nmupy: 1.20.1
matplotlib: 3.4.2
torch:1.7.1 py3.7_cuda10.1.243_cudnn7.6.3_0

1.
TypeError: normal() received an invalid combination of arguments when run the main loop
i found the model_env arg 'rng'  is np.random.def

[2021-05-11 20:17] luisenp commented on #83
Thanks for reporting! I don't think it's a compatibility issue, it's related to some small changes I pushed recently. I'll push a fix tonight/tomorrow, thanks.

[2021-05-12 12:06] app1ep1e commented on #83
@luisenp thanks for your reply!
1 is solved, but 2 still has porblem for me.
I tried to switch `matplotlib` to 3.4.1 not solve the problem, and due to torch 1.8.1 not support CUDA 10.1 and i will graduation soon,  the experiment on my thesis is based on tensorflow, so i don't want to change anything can cause my code error before graduation. install tensorflow is a nightmare.

[2021-05-12 13:06] luisenp commented on #83
No problem, I was mostly curious. I just pushed a fix, can you try it and let me know if it works for you? Thanks!

[2021-05-12 13:46] app1ep1e commented on #83
@luisenp sorry, i didn't say clear, your fix is works for me, just problem 2 i change my matplotlib version is not works. probably i need to change torch version

[2021-05-12 13:46] #83 closed

[2021-05-12 13:49] luisenp commented on #83
Ah sorry, I meant I pushed an additional fix to avoid passing tensors to the plotting code. The latest commit should work with your matplotlib/torch version.

[2021-05-12 14:00] app1ep1e commented on #83
:joy: that's all right and it works for me.

[2021-05-20 12:53] luisenp commented on #33
Close by #77

[2021-05-20 12:53] #33 closed

[2021-05-21 17:30] luisenp opened #85 "[Feature Request] Implement PlaNet"
# 🚀 Feature Request

Implement PlaNet algorithm by [Hafner et al. ICML 2019](http://proceedings.mlr.press/v97/hafner19a/hafner19a.pdf)

## Motivation
PlaNet is a strong MBRL method for visual input and it's a common request when discussing the library with people.

**Is your feature request related to a problem? Please describe.**

[2021-06-13 12:00] kajetanj opened #92 "[Bug] `__len__` method of Model should always return non-negative integer"
## Steps to reproduce

[code]

## Observed Results

`TypeError: 'NoneType' object cannot be interpreted as an integer`

## Expected Results

Here is `__len__` implementation for Model
[code]
and desired result is to return None by default, but it is not correct in Python, see https://docs.python.org/3/reference/datamodel.html#object.__len__

[2021-06-13 15:40] #92 closed

[2021-06-14 15:22] JanS97 opened #95 "[Bug] ReplayBuffer.sample_trajectory() returns transitions from two different trajectories"
## Steps to reproduce
[code]
## Observed Results
The script above returns the state sequence ```[[21], [2]]```. These states do not belong to the same trajectory. The 21 comes from the third (unfinished) trajectory that was fed into the buffer and the 2 comes from the first trajectory.

## Expected Results
The state sequence ```[[11],[12]]``` should be returned every time.

The first four ```add()

[2021-06-14 16:35] luisenp commented on #95
Thanks for reporting! Created #96 to close this, added your case as a test case and a few additional checks. Let me know if you have any other suggestions to test for this.

[2021-06-14 17:05] JanS97 commented on #95
Great, thanks!

[2021-06-14 18:42] #95 closed

[2021-06-16 15:06] labecassis opened #97 "[Bug] MBPO on HalfCheetah-v2 not learning"
Hello !
Thank you for this new library.

## Steps to reproduce
 I have tried to run MBPO on HalfCheetah-v2 using
```python -m mbrl.examples.main algorithm=mbpo overrides=mbpo_halfcheetah   ```
after having installed the library, following the README steps.

## Observed Results
Looking at the results.csv file while training MBPO, the agent doesn't seem to be learning:

999.0,-0.8456277073670116,0.0

[2021-06-16 20:49] luisenp commented on #97
Hi @labecassis, thanks for reporting! I'll take a look at this. Have you checked with other seed for the RNG? In my experience performance on HalfCheetah can vary a lot between seeds, and occasionally fail to converge. I'll launch a few on my own to double check, just in case some recent changes broke it completely.

[2021-06-17 01:17] ethanluoyc opened #98 "[Bug] Issue with loading best weights in ModelTrainer"
Hi, thanks for open-sourcing this library! It has really helped clarify some of the MBRL algorithms out there.

I have a specific question regarding this line

https://github.com/facebookresearch/mbrl-lib/blob/master/mbrl/models/model_trainer.py#L228

Maybe I am missing something, but I just want to clarify if this is actually loading the best weights according to the validation loss as expected?

[2021-06-17 02:45] luisenp commented on #97
Turns out I pushed the wrong hyperparameter values for HalfCheetah and Ant to the repo. Can you check with the latest version in master branch? Here are results from a partial run with these values over 10 seeds using that config:

![image](https://user-images.githubusercontent.com/4759586/122323006-62364d00-cef4-11eb-8f9a-d634ca0ee126.png)

[2021-06-17 02:52] luisenp commented on #98
Wow, you are indeed right, this is a bug! I'll fix that a re-run some experiments. Thanks a lot for catching this and reporting, and no worries about the template :)

[2021-06-17 10:06] ethanluoyc commented on #98
There are a few other things I have found that is different between the PyTorch and the original TF version. I will create another issue.

[2021-06-17 10:15] ethanluoyc opened #99 "Difference in PETS implementation from the original TF version."
This follows from the conversation in #98. I have noticed some discrepancy between the TF and mbrl-lib implementation of PETS.

## Difference in normalization.

https://github.com/kchua/handful-of-trials/blob/master/dmbrl/modeling/utils/TensorStandardScaler.py#L45

In the original version, the normalization is guarded against observation dimensions with small stddev by setting the dimensions with

[2021-06-17 11:10] luisenp commented on #99
Thanks for these suggestions, @ethanluoyc :) I'm particularly curious to check the effect of double normalization and maybe try again with the per-layer weight decay (I tried at some point and didn't help, but I was trying many things at that point). Depending on how that goes I may also try adding the extra stopping condition for CEM. Thanks!

BTW, as far as I know, `silu` activation is just anot

[2021-06-17 11:16] ethanluoyc commented on #99
I was curious about adding layer norms to do the normalization instead of normalizing the inputs. This is in the same spirit as the networks used in model-free agents like D4PG. e.g., https://github.com/deepmind/acme/blob/master/acme/tf/networks/continuous.py#L37
If that works then there is no special need for a separate normalizer.

[2021-06-17 11:19] luisenp commented on #99
This is worth a shot as well :)

[2021-06-17 13:02] labecassis commented on #97
Hi !
Thanks a lot for investigating that issue. It looks like MBPO is learning now, using the latest version in master branch !

Could you tell me how long it takes for you to run 50 000 or 100 000 timesteps on HalfCheetah-v2 with MBPO?
I would like to compare to what I currently get on my machine: 13 000 environment steps in 2 hours on a gpu and 12 cpu cores.

[2021-06-17 13:16] luisenp commented on #97
Great! It took around 4-5 hours of runtime to produce the plot above.

[2021-06-17 13:17] luisenp commented on #97
Closed after [this](https://github.com/facebookresearch/mbrl-lib/commit/1bfa0a81ac8e39acd729974addf39f6f95fcd8f0) commit.

[2021-06-17 13:17] #97 closed

[2021-07-05 13:33] luisenp commented on #98
Hi @ethanluoyc. Sorry for taking so long to get back to you on this, the last few weeks have been hectic for me with other deadlines. I fixed this on a local branch and tried on HalfCheetah-v2 using MBPO but unfortunately didn't see much of a difference (slight improvement on the average over 10 seeds). I'll merge the fix anyway as this is clearly a bug, but I want to try on PETS before doing so;

[2021-07-06 07:59] ethanluoyc commented on #98
Thanks for letting me know! I think it would be interesting to see the results on PETS, the original implementation does not have the cross validation enabled but it would be interesting to see what happens.

[2021-07-07 09:40] axelbr opened #101 "[Question] Model Interface: forward arguments"
I am not sure how to use the forward function of the Model interface in my subclass as the interface only accepts a single input argument. If i want to have a control input, should i 1) concat the obs and action tensor, 2) use the TransitionBatch class or 3) introduce another function argument with default values (such as action=None)? What would be the preferred alternative for you?

Thanks!

[2021-07-07 09:42] axelbr commented on #101
1. model. forward(x=torch.cat([obs, action])
2. model.forward(x=batch)
3. model.forward(x: TensorType, u: TensorType = None)

[2021-07-07 12:56] luisenp commented on #101
Hi @axelbr. It looks like this is a place where the current documentation is a bit confusing. In fact, for the model `forward` method, you can actually use any number of input arguments. What needs to be defined to use the `ModelTrainer` is the `loss(model_input, optimizer, target=None)` method. This method is called by the default [update](https://github.com/facebookresearch/mbrl-lib/blob/master/

[2021-07-07 15:14] JanS97 opened #102 "[Bug] ModelTrainer.maybe_get_best_weights() does not deal properly with negative evaluation scores"
https://github.com/facebookresearch/mbrl-lib/blob/621832fe321a427480a7ce0323caaf56212705a9/mbrl/models/model_trainer.py#L220
The above calculation of the relative improvement of the evaluation score in ModelTrainer seems to be wrong for negative evaluation scores. This can be fixed by adding a `torch.abs()` around the divisor.

## Steps to reproduce

[code]

## Observed Results

`model_trainer.may

[2021-07-07 15:22] JanS97 commented on #102
While we are on the topic of ModelTrainer, it would be nice if the threshold for improvement could be specified when calling `ModelTrainer.train()`. Right now `threshold` is a parameter of `ModelTrainer.maybe_get_best_weights()`, but not of `ModelTrainer.train()`. Since different applications deal with different scales of evaluation scores (and relative improvements of these scores), it would be n

[2021-07-07 20:25] luisenp commented on #102
Good point, I never considered this particular case. Do you want to submit a pull request? You've been reporting bugs/fixes for a while, might as well get some contribution credit :)

[2021-07-07 20:51] luisenp commented on #98
It actually has an impact even w/o validation, since in this case it saves the weights from the best training score. With PETS the situation is a bit unclear: with 10 seeds on HalfCheetah (using the original data transforms), more seeds reach ~15k reward than before, but other seeds actually end up performing worse (probably model overfitting to training, would be my guess).

In any case, I'll add

[2021-07-07 20:54] ethanluoyc commented on #98
These are actually very interesting observations. Yeah fixing it in master now sounds like a good plan!

[2021-07-07 20:57] #98 closed

[2021-07-08 08:11] axelbr commented on #101
Thanks for the extensive answer, it is clearer now. I just thought that implementations have to follow the interface more strictly. I will close this issue now. If further questions arise, I will post them here.

Thanks for maintaining this codebase!

[2021-07-08 08:11] #101 closed

[2021-07-08 17:08] #102 closed

[2021-07-13 17:12] JanS97 opened #108 "[Feature Request] Logging of custom training metrics"
# 🚀 Feature Request

When training a model with `ModelTrainer`, it would be nice to be able to log some custom metrics (ideally in tensorboard), defined by the model (e.g., the values of the individual loss terms if the loss of the model is a sum of multiple terms). Right now one can only access the overall loss of the model.

## Motivation

**Is your feature request related to a problem? Please d

[2021-07-13 17:24] luisenp commented on #108
Thanks for the request, @JanS97! I agree this would be a useful feature. While working on PlaNet I was thinking of a solution which is basically the second alternative you describe (but I haven't implemented yet). Namely, `Model.update()` now returns a dictionary of anything the user deems relevant (maybe as a second output), and then the callback takes care of the additional logging. I'd prefer t

[2021-07-14 08:52] JanS97 commented on #108
I believe this is the best solution to the problem. However, I think we need to modify the functions `Model.loss()` and `Model.eval_score()` to return such a dictionary as well. In my case, the individual loss terms are calculated by `Model.loss()`. The default implementation of `Model.update()` should then just pass through the dictionary from `Model.loss()`. Having `Model.eval_score()` return a

[2021-07-14 17:27] luisenp commented on #108
Good point about the callback! OK, since this feature would be immediately useful for several people, I'll work on adding it next week in a separate branch. I can tag you in the pull request if you are interested in reviewing :)

[2021-07-14 17:47] JanS97 commented on #108
Sure, let me know if I can help you with anything

[2021-07-14 17:51] robertocalandra commented on #108
Yes, I think this would be a very useful feature!

[2021-07-21 18:06] luisenp commented on #108
@JanS97 Following up on this, in case you didn't receive notifications about #109 (and if you'd like to take a look).

[2021-07-22 02:20] MarkSelden opened #110 "[Bug] Normalization of model inputs causes PETS to crash on Pybullet Half Cheetah"
## Steps to reproduce

  1. Run PETS algorithm from example notebook with Pybullet Halfcheetah instead of Cartpole env using the code I put at the bottom.
  2. Alternatively, set ```normalize: true``` in the algorithm parameters for any environment with an observation which doesn't change before normalization is attempted.

## Observed Results

When running the code below I get the following Trace

[2021-07-22 03:17] luisenp commented on #110
HI @MarkSelden, thanks a lot for your interest and for reporting. I will push a fix for soon (probably in the next couple of days), as part of a change where normalization uses double precision by default, instead of floats (see #99 for some discussion). Sorry about the inconvenience, and thanks for the effort you put into this report.

[2021-07-22 08:52] JanS97 commented on #108
Thanks for implementing this so quickly. I have been a bit busy, so I have not looked at it yet. I'll have a look later today.

[2021-07-23 09:06] sradicwebster commented on #23
Hi @luisenp. I have been working on an implementation of iCEM but have run into an issue when using GaussianMLP ensembles. iCEM uses a decaying population size, but this results in the population batch size to not be a multiple of the number of models in the ensemble. What's the reason for the batch size to be a multiple of ensemble size? Can you think of a workaround? Thanks

[2021-07-23 12:14] luisenp commented on #23
Hi @sradicwebster, thanks for the interest! The reason for this restriction is due to an optimization in the ensemble propagation of GaussianMLP, as described [here](https://github.com/facebookresearch/mbrl-lib/blob/master/mbrl/models/gaussian_mlp.py#L256), and implemented [here](https://github.com/facebookresearch/mbrl-lib/blob/master/mbrl/models/gaussian_mlp.py#L162). This makes the code about 2

[2021-07-23 19:33] luisenp commented on #99
Hi @ethanluoyc. I have done some testing, and the double normalization does help a little bit, although we still can't match the original results on HalfCheetah; I am planning to merge this change anyway, and the relevant PR is #111, if you are curious.

I also tried again the per-layer weight decay for the linear layers, but it actually seems to make things worse. Would you mind if I send you a s

[2021-07-23 19:36] luisenp commented on #110
@MarkSelden #111 has the fixes and changes I mentioned. I'm waiting for the results of some tests before merging, but the fix should be in the new release very soon.

[2021-07-24 00:00] #108 closed

[2021-07-24 03:57] #110 closed

[2021-07-24 10:51] ethanluoyc commented on #99
No problem at all! I can certainly take a look at it to see if I can spot something mysterious!

[2021-07-26 14:54] luisenp commented on #99
Thanks a lot! Created #112 for this.

[2021-07-26 22:27] MarkSelden commented on #110
Thanks for closing this out quickly! Much appreciated.

[2021-07-29 09:34] labecassis opened #113 "[Bug] Hopper-v2 crashing using MBPO"
Hi, I encountered a problem running Hopper-v2 with MBPO.

## Steps to reproduce
run `python -m mbrl.examples.main algorithm=mbpo overrides=mbpo_hopper device="cpu"`

## Observed Results
The code crashed, with the following error message:
`File "/home/user/mbrl-lib/mbrl/env/termination_fns.py", line 19, in hopper
*(next_obs[:, 1:] < 100).abs().all(-1)`
`RuntimeError: "abs_cpu" not implemented for '

[2021-07-29 14:41] luisenp commented on #113
Thanks for reporting! Looks like a bug that comes from the [original](https://github.com/JannerM/mbpo/blob/master/mbpo/static/hopper.py) MBPO implementation, on which this is based. Looking at the gym [code](https://github.com/openai/gym/blob/master/gym/envs/mujoco/hopper.py#L22), the `abs` should be on the observation (not sure why the index is not the same).

I'm running training to see how it p

[2021-08-03 06:41] curiosityoftiane opened #114 "Could you please provide the data corresponding to the figures of of experiments in the paper——PETS? Because we would like to like cite PETS as one of the state of the art work in our paper, but time is limited. Thank you![Feature Request]"
# 🚀 Feature Request

## Motivation

**Is your feature request related to a problem? Please describe.**

## Pitch

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Are you willing to open a pull request?** (See [CONTRIBUTING](../../CONTRIBUTING.md))

## Additional context
Add any other context or screenshots about the feature request here.

[2021-08-03 11:09] mkolodziejczyk-piap opened #115 "[Feature Request] More general reward"
Hi, currently reward_fn is independent from environment class (mbrl.models.ModelEnv) and accepts as input actions and next observation. In practice more general, dependent on environment parameters reward functions are needed. For example,

- we've got some reference trajectory or obstacles that are fixed or periodically updated
- we want to include progress in reward function, e.g. reward - prev_

[2021-08-03 13:57] #113 closed

[2021-08-03 14:01] luisenp commented on #114
Hi @curiosityoftiane. Are you referring to the original PETS paper? Note that this repository was not the one used to write that paper.

[2021-08-05 20:56] robertocalandra opened #117 "[Feature Request] cartpole_continuous.py is not the standard continuous cartpole"
# 🚀 Feature Request

The cartpole system implemented in cartpole_continuous is not the standard cartpole used in most of the control literature. We should implement also the standard cartpole.

## Motivation

**Is your feature request related to a problem? Please describe.**
The current cartpole_continuous uses discrete actions, and a reward function which is 1 within the given angle cone.
The tra

[2021-08-06 12:23] luisenp commented on #115
Hi @mkolodziejczyk-piap. This is an interesting suggestion. Can you give a more concrete example to help me sketch out something?

As a starting point, in the current state of the code it should already be possible to use a reward_fn that is a class, as long as you implement a `__call__` method with the same inputs (actions and next observation). This will allow you to keep some internal state, bu

[2021-08-06 12:24] #114 closed

[2021-08-06 12:26] #99 closed

[2021-08-06 12:30] luisenp commented on #99
I @ethanluoyc. I tried the weight decay per layer (as shown in the other PR) and also using AdamW, but didn't see improvements; thus I think it's a good time to close this issue. I appreciate the time you took to write this, and we did get some improvements from the double normalization. Thanks again for all the valuable suggestions! :)

[2021-08-06 12:35] ethanluoyc commented on #99
Glad to know that AdamW does not make a difference. I don’t have enough compute to try out these things and I am really happy to learn from your experimental results!

[2021-08-07 07:48] jihwan-jeong opened #118 "Reward setup of the HalfCheetah environment"
Hello! Firstly, thanks for the awesome codebase :)

I have a very simple question regarding the way the halfcheetah environment is set up. Clearly, you seem to have just ported the implementation of the environment in the original PETS repo, but I wanted to ask here just in case you have an idea of what's going on.

So, when you compute the reward, you use the following equations
[code]

In the se

[2021-08-10 13:53] sradicwebster commented on #23
Thanks for your reply. I've been a little busy, but have been able to put some more time to this.

I have done what you suggested for Gaussian MLP Ensemble and rounded the population size up to a multiple of the ensemble size. Running quick tests on cartpole shows better performance for a smaller population for iCEM vs CEM (although the runtime is longer). I have limited compute resources, so am u

[2021-08-10 14:01] luisenp commented on #23
Hi @sradicwebster. That's great! Yes, a pull request would be ideal. I can then take a look at the code, run your examples and do bigger tests.

[2021-08-10 17:42] luisenp commented on #118
HI @jihwan-jeong, thanks a lot for the comment!

To be honest, I don't know why it was set up this way and I didn't look too much into this. The environments in `mbrl/env/` are there mostly for debugging and comparing our codebase with the original algorithm implementations. I would however encourage people to use standard `gym` versions whenever possible (e.g., MBPO works well with standard HalfC

[2021-08-23 03:07] jihwan-jeong commented on #118
Hi @luisenp,

Thanks for your reply and clarification!

Indeed, I think that's a good way to prevent confusion such as the one I had.

[2021-08-23 03:07] #118 closed

[2021-08-25 06:07] hxri commented on #117
Hi

Can I work on this?

[2021-08-25 12:49] luisenp commented on #117
Hi @hxri, thanks for the offer! Before working on this, we should clarify that the version in the `envs` folder is indeed continuous. See [this](https://github.com/facebookresearch/mbrl-lib/blob/master/mbrl/env/cartpole_continuous.py#L108) line, and contrast it with the original gym version, [here](https://github.com/openai/gym/blob/master/gym/envs/classic_control/cartpole.py#L108). Unfortunately,

[2021-08-25 13:13] hxri commented on #117
Sure! I am happy to work on it.

Can you please clarify what actually I need to implement?

Is it implementing (https://github.com/kchua/handful-of-trials/blob/master/dmbrl/env/cartpole.py) as cartpole_pets_version.py?
or is it something else?

[2021-08-25 13:33] luisenp commented on #117
Yes, then make sure that it runs and learns using PETS, and add a default config to this folder --> https://github.com/facebookresearch/mbrl-lib/tree/master/mbrl/examples/conf/overrides

[2021-09-09 18:17] #23 closed

[2021-09-09 18:23] #117 closed

[2021-09-30 04:22] dtch1997 opened #130 "[Feature Request] Add PyBullet implementations of envs"
# 🚀 Feature Request

Add PyBullet-backed implementations of standard envs such as those described here: https://github.com/benelot/pybullet-gym

## Motivation

Mujoco is a paid software whereas PyBullet is open-source and of equal quality. This would allow those without Mujoco licenses to have access to the codebase.

## Pitch

**Describe the solution you'd like**
PyBullet implementations of stand

[2021-09-30 04:24] dtch1997 commented on #130
I know this has already been raised in https://github.com/facebookresearch/mbrl-lib/pull/87 but that hasn't been updated in 2 months, it seems like development work has stopped and I'd be willing to pick it up / start over.

[2021-09-30 16:39] luisenp commented on #130
Hi @dtch1997, this is something we we definitely want to support, and would be happy to have you pick it up if you are interested.

[2021-09-30 16:39] #41 closed, assigned to JARACH-209

[2021-10-01 17:10] #85 closed

[2021-10-01 21:25] luisenp opened #131 "Add batch support to CEM"
# 🚀 Feature Request
Add a batch dimension to all operations in CEM so that it can optimize several problems at once.

## Motivation
The current implementation of our CEM optimizer only supports one optimization problem, which means that, for example, it cannot be used to compute action for several observations in parallel, which in turn slows down model evaluation.

**Is your feature request relat

[2021-10-01 21:34] luisenp opened #132 "[Feature Request] Add batch support to ModelEnv.evaluate_action_sequences"
# 🚀 Feature Request
Add a batch dimension to all operations in `ModelEnv.evaluate_action_sequences` so that it can find rewards for several trajectories in parallel, each starting at a different observation.

This issue depends on #131

## Motivation
The current implementation of `ModelEnv.evaluate_action_sequences` only supports one observation at a time, which means that it's not possible to eva

[2021-10-01 21:51] luisenp opened #133 "[Feature Request] Clean up the PlaNet visualizer"
# 🚀 Feature Request
The [planet visualizer](https://github.com/facebookresearch/mbrl-lib/blob/main/mbrl/diagnostics/planet_visualizer.py) is an ad-hoc version used during the debugging stages. Now that the PlaNet implementation is stable, we should update it to be given a results directory, which specifies the Hydra config with, and also has a checkpoint for the model. The rest of the script can o

[2021-10-01 21:55] luisenp opened #134 "[Feature Request] Add support for low dimensional observations to PlaNet"
# 🚀 Feature Request
Current implementation only works with pixel observations. Adding support for low-dimensional observations (i.e., the standard gym obs) should be relatively easy, as it shouldn't require more changes than the encoder/decoder.

[2021-12-10 09:18] sofan110 opened #136 "[Bug] PETS not working"
## Steps to reproduce

  1. install mbrl with python3.8 & mujoco_py 2.0.2.0
  2. python -m mbrl.examples.main algorithm=pets overrides=pets_halfcheetah

## Observed Results

 env_step,episode_reward,step
1000.0,-224.74164192363065,1
2000.0,-216.55716608141833,2
3000.0,-23.61229154142554,3
4000.0,-226.04264782442579,4
5000.0,299.97272326884257,5
6000.0,-424.2352836475372,6
7000.0,-605.4988140825888

[2021-12-10 14:30] luisenp commented on #136
Just to double check, do you mean MBPO? (title says PETS, but command is for MBPO)

[2021-12-12 10:46] sofan110 commented on #136
Sorry, I made a mistake, the command is for PETS.

[2021-12-12 11:43] jity16 commented on #136
I have the same problem. PETS cannot work in halfcheetah environment with the original parameters provided by this repo.
This is the episode reward:
![image](https://user-images.githubusercontent.com/35065354/145710757-b16f7297-cf86-4322-b725-973e86adfc75.png)

[2021-12-12 18:37] luisenp commented on #136
Thanks a lot for reporting! We recently changed the way config files are read, so hopefully this is just a config error. I'll look into this tomorrow. Are you testing with the current version in the repo or is it the pypi version (0.1.4)?

[2021-12-13 02:08] sofan110 commented on #136
I can reproduce the bug both with the repo and the PyPI version (0.1.4). The older PyPI versions are not tested.

[2021-12-13 03:01] luisenp commented on #136
Thanks for checking pypi as well @sofan110, that's really useful.

[2021-12-13 15:16] natolambert commented on #136
Just wanted to add that we have had some difficulties on a research fork of this that seems like a similar issue -- checking the versions and will get back to you.

[2021-12-14 07:44] jity16 commented on #136
Yes, it works in v 0.1.3! (and v 0.1.4 still fails)

[2021-12-14 08:31] sofan110 commented on #136
v0,1,3 still cannot work for me, using torch 1.10.0, cuda 10.2, and python 3.8.12. The dynamics_model hyperparameters in the command connot be set in v0.1.3 and I remove them in my experiment. It is really strange for me.

[2021-12-14 13:54] luisenp commented on #136
@sofan110, oh sorry, i should have mentioned that your config files also need to be on v0.1.3, so probably easiest way to test would be to get v0.1.3 directly from the Github stored revisions.

Note that the config structure in v0.1.3 was different from the current one. In the new configs you have to do `dynamics_model.num_layers=4`, but in v0.1.3 you had to do `dynamics.model.num_layers=4`. That

[2021-12-14 14:53] MansonX opened #137 "[Bug] MBPO loss explode on humanoid and walker (sometimes)"
## Steps to reproduce

  1. Install latest mbrl-lib with python 3.7 pytorch 1.7.1 mujoco 2.0.2.13
  2. On humanoid: python -m mbrl.examples.main algorithm=mbpo overrides=mbpo_humanoid dynamics_model.hid_size=400

## Observed Results

+ on humanoid:

| results | S: 999 | R: 305.9237 | E: 0 | RL: 1
| train | S: 1000 | BR: 4.7887 | ALOSS: -6.8791 | CLOSS: 2.3326 | TLOSS: 2.2119 | TVAL: 0.1731 | AENT:

[2021-12-14 16:33] luisenp commented on #137
Hi @MansonX. Unfortunately, we haven't been able to get MBPO working on Humanoid yet, as mentioned in our white [paper](https://arxiv.org/pdf/2104.10159.pdf). For walker, do you have a sense of how often this issue appears? In my runs, the hyperparameters in the repo (which I just double checked) consistently work for 10 seeds, although I just noticed that I have only run it with `+overrides.boots

[2021-12-15 10:43] MansonX commented on #137
I will run a few more experiments on walker with ```+overrides.bootstrap_permutes=true``` and report if that issue appears again :-(
thanks and good luck!

[2021-12-15 10:43] #137 closed

[2021-12-15 16:38] luisenp commented on #136
Update: I took a look at the planning code and ran some quick tests, but haven't spotted any obvious differences that could cause this behavior. So, I'm currently trying to identify the commit were things broke, and hopefully that'll bring some clarity.

@sofan110 were you able to run v0.1.3 successfully?

[2021-12-16 06:52] Hyperion-shuo commented on #136
I have the same problem running pets cem using default config only change model ensemble to single model in v0.1.4. And i run pets successsfully on other three pets env, cartpole_continuous,  pets_pusher, pets_reacher,  gym_halfcheetah also runs well.
![image](https://user-images.githubusercontent.com/55169296/146321198-783c5c1b-5d67-48a7-b5c6-d7d599a3fd50.png)

[2021-12-16 06:53] sofan110 commented on #136
Thanks for reminding me of the config files, the v0.1.3 works for me now!

[2021-12-16 11:44] luisenp commented on #136
[This](https://github.com/facebookresearch/mbrl-lib/commit/da0c5373221b9aa3583d7f741eeb076823f40e11) seems to be the offending commit for `pets_halfcheetah`. I'll look deeper today, hopefully figure out what was the breaking change there.

[2021-12-19 13:21] luisenp commented on #136
Pushed a [commit](https://github.com/facebookresearch/mbrl-lib/commit/c6ebdece958e0a308e3c66130f79d0bcfdde226c) that fixed the issue for me. It was caused by incorrectly using the observation pre-processing function in the `OneDTransitionRewardModel.sample()` method. @sofan110 @jity16 if you can confirm that it works for you that would be helpful!

You can run with `python -m mbrl.examples.main al

[2021-12-20 09:39] jity16 commented on #136
![image](https://user-images.githubusercontent.com/35065354/146745833-b67f13c1-73f0-4ce4-abc1-68f25ed576b5.png)
Yes, it works for me by changing the `OneDTransitionRewardModel.sample()` method.

[2021-12-20 10:14] sofan110 commented on #136
I also can reproduce it successfully. Thanks with sincere gratitude.

[2021-12-20 10:14] #136 closed

[2021-12-24 09:29] jity16 opened #138 "MBPO cannot work on HumanoidTruncatedObsEnv and original Humanoid Env[Bug]"
## Steps to reproduce

  1.  I tried to run MBPO on HumanoidTruncatedObsEnv with the default parameters in this repo but the final reward is around 180(seems like random policy and not work)
  2. I tried to run MBPO on original Humanoid env(without truncated obs) and still cannot work

and I have tried different seeds and they all cannot work

## Observed Results

  * The results of episode reward

[2021-12-27 17:02] jity16 commented on #138
I think why MBPO cannot work may be caused by the third-party SAC used in this lib.
I've tried to run the third-party SAC( only the SAC algorithm ) on gym___Halfcheetah environment, and I found critic loss of this sac explodes! I think this third-party SAC maybe not be implemented correctly. It's different from the results in another sac repo(https://github.com/pranz24/pytorch-soft-actor-critic).

[2021-12-28 02:40] Roythuly commented on #138
I have the same problem in humanoid with MBPO. And I find the third party of SAC implemention in this repo (https://github.com/denisyarats/pytorch_sac), which is not satisfied in humanoid as:
![image](https://user-images.githubusercontent.com/57201828/147521595-e99ef945-55d1-494e-bbfa-a8779c69fa64.png)

I also try the repo (https://github.com/pranz24/pytorch-soft-actor-critic) and I get this resul

[2021-12-28 03:38] luisenp commented on #138
Hi @jity16 and @Roythuly. Thanks a lot for looking into this! This is a known issue, as mentioned in our [paper](https://arxiv.org/abs/2104.10159), but I haven't yet tried changing the SAC implementation, so this is a good lead!

I'll try to test this with the MBPO into this as soon as possible. Unfortunately, everyone in my household is currently down with COVID (including me), so I'm taking a fe

[2021-12-28 05:22] jity16 commented on #138
I'm very sorry to hear that. Take good care of yourself and wish you recover soon~

[2022-01-03 04:33] MarkSelden opened #139 "[Bug] Pets CartPoleEnv preprocess_fn changes the dimensions of an observation."
## Steps to reproduce

  1. Run learning tasks with the pets cartpole mujoco environment with the preprocess function preprocessing model data

## Observed Results

  * What happened?

  File "/Users/MarkSelden/Work/Research/mbrl-lib/mbrl/util/math.py line 123, in update_stats
   assert data.ndim == 2 and data.shape[1] == self.mean.shape[1]
    AssertionError

## Expected Results

  * What did you

[2022-01-03 04:36] MarkSelden commented on #139
I believe this error is caused by the preprocess function in mbrl/env/pets_cartpole CartPoleEnv.preprocess_fn.

This is the function's return value
`return np.concatenate(
                [
                    np.sin(state[..., 1:2]),
                    np.cos(state[..., 1:2]),
                    state[..., :1],
                    state[..., 2:],
                ],
                axis=-1,

[2022-01-04 14:07] luisenp commented on #139
Hi @MarkSelden. To use the cartpole env preprocess function you also need to set `dynamics_model.in_size=6` (which overrides the default input size computation). The following command works for me

[code]

I'll add a comment about this in the config file and also in the preprocess function.

Let me know if you keep having problems.

[2022-01-07 15:29] luisenp commented on #139
Hi @MarkSelden, did this work for you? Let me know if I can close this issue now.

[2022-01-09 03:30] MarkSelden commented on #139
@luisenp Thank you for the response! Feel free to close this out. Your help is very appreciated.

[2022-01-10 16:42] #139 closed

[2022-01-10 22:50] luisenp commented on #138
Hi @jity16. I started worked on this today, and have already an implementation with the other SAC working, but I haven't tested it yet. You can take a look in #142 if you are curious about progress. It's very likely not working yet, but just wanted to update this issue on the current progress.

[2022-01-11 09:57] Roythuly commented on #138
Thank you so much @luisenp and wish you and your family better sooner! I would like to try this repo. Thanks for your help!

[2022-01-17 22:23] luisenp commented on #138
Hi @jity16 @Roythuly.  I updated the new code a bit and fixed some bugs (#142). So far I've tested it with InvertedPendulum-v2 and it works well. I just launched a run with 10 seeds of HalfCheetah-v2 (which used to fail for some seeds), and will report results later. In the mean time, feel free to test again with Humanoid to see if it works well for you. Thanks!

[2022-01-18 10:29] veds12 opened #143 "[Feature Request] Support for Dreamers"
# 🚀 Feature Request

Add support for Dreamer and Dreamerv2

## Motivation

Dreamer and Dreamerv2 are important and current SOTA in mbrl. Few standard implementations are available for both Dreamer (rllib, author's implementation) and Dreamerv2 (author's implementation). Some good implementations include [https://github.com/RajGhugare19/dreamerv2](1), [https://github.com/juliusfrost/dreamer-pytorch

[2022-01-18 14:48] luisenp commented on #143
Hi @veds12. This is definitely at the top of my list of priorities for MBRL-Lib! I hope we can roll out an implementation in the next few months, but It's taking longer than I'd like since I have other commitments.

[2022-01-18 16:10] natolambert commented on #143
I would be interested in contributing @luisenp. Long time been on my list to study it.

[2022-01-18 17:23] veds12 commented on #143
Thank you @luisenp and @natolambert !
@natolambert I would be interested in this as well. Please let me know (if / how) I can help :)

[2022-01-18 17:29] luisenp commented on #143
That sounds great! How about setting a VC the 3 of us to coordinate this week? Does Friday work for you? If you are interested, send me an email and I'll send an invite to that address. @veds12 @natolambert

[2022-01-19 18:36] luisenp commented on #138
Results on HalfCheetah-v2 are inconclusive and still having exploding losses in Humanoid. However, I noticed that plain SAC (no model) also fails when using automatic entropy tuning, which to my understanding is the default for MBPO, but not for pranz24's repo. So, I'll try running both cheetah and humanoid w/o entropy tuning and see if things improve.

[2022-01-20 17:27] cvoelcker commented on #138
Hi, I did similar experiments before the winter break (didn't get the time to write a comment here) and I found that one of the potential culprits for this is different layer initialization in the used SAC library (compared to i.e. stable-baselines). Colleagues have also found that NN initialization can have fairly large effects on the performance of SAC, so this might be an additional lead. I

[2022-01-20 17:38] luisenp commented on #138
HI @cvoelcker, thanks a lot for the comment. I've also seen model initialization to play an important role in model predictions as well.

For what is worth, Pranz's SAC works well for me in Humanoid with the right parameter settings, so in principle it should work with MBPO. However, there seems to be some strange interaction with the model predictions that causes exploding losses when using it in

[2022-01-21 21:57] luisenp commented on #138
Hi all. As it turns out, I just found a silly bug that was probably the root cause of the issue. My make_env utility was setting the wrong termination function for Humanoid, and the model simulator ended using Ant's instead. I fixed this and launched a run a few hours ago and seems to be learning (R=850 so far, ~130k steps).

You can check the latest code in #142 if you want to try it out. I'm run

[2022-01-30 04:39] RajGhugare19 commented on #138
Hello everyone! Does anyone know how MBPO (mbrl-lib or author's or any other implementation) performs on standard Ant-v2 and Humanoid-v2 tasks, without truncated observations that is.
Thank you.

[2022-01-30 14:53] bamos commented on #138
I quickly tried SVG (https://arxiv.org/abs/2008.12775) on the versions without truncated observations. The IMU measurements were much more difficult to predict with the learned dynamics and in that setting, made it more likely for the policy to find wrong IMU predictions that gave unreasonably high and wrong reward/value estimates

[2022-01-30 16:24] natolambert commented on #138
IMU measurements should NOT be used in standard one-step models. I feel like there is such low hanging fruit here to make some model-based methods work better. We should add in some sort of integrator / separate prediction coupling when compared to velocities or positions... hmm. Feel free to ping me if anyone wants to investigate this or has clear info on the state-spaces for these environments a

[2022-01-30 21:53] JennoMai opened #144 "[Bug] Training with (n, 1) dimensional Box/MultiDiscrete action spaces throwing error"
## Steps to reproduce

  1. Wrote a gym environment using a MultiDiscrete action space
  2. Copied training code from the PETS example (threw error)
  3. Tried replacing MultiDiscrete action space with a similarly-shaped Box shape (threw the same error)

## Observed Results
In the traceback below, I have a length 9 observation space and a length 2 action space; I believe the code might be concaten

[2022-01-31 08:46] RajGhugare19 commented on #138
Thanks for trying this out.

[2022-01-31 15:39] luisenp commented on #138
Update: Here are the results on humanoid (truncated obs) with 10 seeds, after tuning. I also get good results in all 6 environments of Figure 2 in the original paper, but I think I can still tune Ant and Walker a bit more. After that's done, I'll commit the best configs to #142, merge, and close this issue. Thanks everyone!

![image](https://user-images.githubusercontent.com/4759586/151823187-d947

[2022-02-03 16:52] #138 closed

[2022-02-03 16:53] luisenp commented on #138
Fixed by #142 :)

[2022-02-03 17:07] luisenp commented on #144
HI @JennoMai, sorry for the delay, I forgot about this issue.

We haven't in fact experimented with multi-dimensional action spaces, but one thing I can say for sure is that the dynamics model used in PETS won't work out of the box for this. Notice [this](https://github.com/PisterLab/BotNet/blob/mbrl-swarm/swarmsimmaster/train_swarm.py#L68) line. This refers to a 1-D model which is hard-coded to a

[2022-03-02 15:34] MishraIN opened #146 "Using Wrapper Class for Custom GYM Env"
I have a custom open AI gym env and I am trying to use mbrl wrapper but getting error name 'model_env_args' is not defined. Here's my code.

`import gym
import mbrl.models as models
import numpy as np
net = models.GaussianMLP(in_size=14, out_size=12, device="cpu")
wrapper = models.OneDTransitionRewardModel(net, target_is_delta=True, learned_rewards=True)
model_env = models.ModelEnv(wrapper, *model

[2022-03-02 18:50] luisenp commented on #146
Hi @MishraIN. Apologies, the paper is a bit misleading in this. I think the best would be to look at an example in one of the algorithm implementations, such as [MBPO](https://github.com/facebookresearch/mbrl-lib/blob/main/mbrl/algorithms/mbpo.py#L175), or [Planet](https://github.com/facebookresearch/mbrl-lib/blob/main/mbrl/algorithms/planet.py#L90).

The signature of `ModelEnv`'s constructor is d

[2022-03-09 15:27] MishraIN commented on #146
Thanks Luisenp! I am trying to use custom env built using gym instead of mbrl.env.cartpole_continuous. My action space is Box(1,) and observation space is Box(600, 800, 3).

I am running into so many errors trying to use custom env. How can use my custom env with MBRL?

[2022-03-10 15:03] luisenp commented on #146
For that type of observation space, following the PlaNet example would be the most appropriate. Do you have any code samples I can take a look at?

[2022-03-10 17:58] MishraIN commented on #146
Thanks for your prompt reply!  I am trying to copy mbrl.env.cartpole_continuous for the ChopperScape game.
[MBRL_Code.zip](https://github.com/facebookresearch/mbrl-lib/files/8225856/MBRL_Code.zip)

[2022-03-10 18:14] luisenp commented on #146
It would be much better if you submit a pull request that has your script. We don't need to merge it, but it will make review and discussion much easier.

[2022-03-11 15:04] MishraIN commented on #146
Here's the zip file attached. I am really new to this model based RL and barely understand the code, please pardon my ignorance.
[MBRL-3.7.zip](https://github.com/facebookresearch/mbrl-lib/files/8233019/MBRL-3.7.zip)

[2022-03-15 00:05] AVSurfer123 opened #147 "[Bug] Algorithm tests fail in Pytorch 1.7.1"
## Steps to reproduce

  1. Install this library with Python 3.7 and PyTorch 1.7.1
  2. Run the test `python3 -m pytest tests/algorithms`

## Observed Results

You get the errors
[code]
because `torch.clamp` doesn't support tensors for the min and max arguments till version `1.9.0`. So either the README should be updated with the newer PyTorch version or the test/code should be fixed to work with

[2022-03-25 14:19] jpain3 opened #149 "PETS Example Notebook Can't create Dynamics Model"
The example notebook pets_example.ipynb fails at the line:
`dynamics_model = common_util.create_one_dim_tr_model(cfg, obs_shape, act_shape)`
in code cell number 8 in the notebook.

The error thrown appears to be coming from the dictconfig.py routine within the omegaconf routine within the Hydra configuration handler.

`ConfigAttributeError: Missing key model`
`    full_key: dynamics_model.model`
`

[2022-03-25 20:18] luisenp commented on #149
Hi @jpain3, thanks for reporting! I think this was just me forgetting to update the notebook after one of our API updates, sorry about this. I'll fix it soon. I agree that this is an important example, so appreciate you taking the time to report.

[2022-03-25 20:18] #147 closed

[2022-03-25 20:36] luisenp commented on #149
@jpain3 Are you running a specific version of the library? I tried `git clone` and then running the notebook without any pre-installed version of `mbrl` and it works for me.

[2022-03-26 18:34] jpain3 commented on #149
Fixed now thanks! Installing MBRL directly from a clone of the repository works fine! All I'm getting now is a warning on that line that `UserWarning: OmegaConf.is_none() is deprecated` but the code is executing and proceeding now. Thanks!

Trying to replicate the original issue, the problem appears to be from me using a naïve pip install. When I create a new Python 3 kernel and run `pip install m

[2022-03-26 18:34] #149 closed

[2022-03-28 15:31] luisenp commented on #149
Ah, I see. The issue is that the notebook is written according to the latest version of the repo, which is currently not the latest stable version in pip (v0.1.5). You didn't do anything wrong before, this is mostly a quirk of the current version status of the library (repo version is v0.2.4.dev). I added a note to the notebook explaining this, and a [new](https://github.com/facebookresearch/mbrl-

[2022-04-04 19:52] Rohan138 commented on #143
Hi! Just wanted to check in on progress on this; I'd be interested in contributing as well.

[2022-04-04 20:00] luisenp commented on #143
Hi @Rohan138. @veds12 opened a PR skeleton for this (#145), but there hasn't been a lot of progress lately, and I've been busy with other projects. Contributions are definitely welcome! I will also have more time after NeurIPS deadline to offer support/collaborate on this :)

[2022-05-05 16:51] luisenp opened #150 "[Bug] Update documentation for `ModelEnv` to reflect new sample/reset requirements"

[2022-06-05 06:09] Rohan138 commented on #143
@luisenp Just opened a draft PR; mainly need to debug and clean up the dreamer loss calculation, then test it.

[2022-06-05 13:46] luisenp commented on #143
Awesome! I'll take a look this week and give feedback. Thanks a lot for contributing to the library!

[2022-06-07 09:59] MarcoKe opened #152 "[Bug] Training browser crashes on Windows"
## Steps to reproduce

  1. Run mbrl/diagnostics/training_browser.py

## Observed Results

Traceback (most recent call last):
  File "diagnostics\training_browser.py", line 369, in <module>
    window = BasicTrainingResultsWindow(args.experiments)
  File "diagnostics\training_browser.py", line 185, in __init__
    self.experimentTable = ExperimentsModel(
  File "diagnostics\training_browser.py", l

[2022-06-09 19:51] MishraIN opened #155 "DQN agent for an environment with continuous actions"
I am trying to implement  DQN using the continuous cartpole which came packaged with MBRL pets. When I am trying to discretized and flattened the action space I am getting error "AttributeError: 'float' object has no attribute 'squeeze'" in the last line of the code,
[code]

[2022-06-14 13:33] luisenp commented on #155
Hi @MishraIN, my apologies for the delay, somehow I missed this message. `step()` method expects a numpy array, not a float.

[2022-07-03 11:05] shenao-zhang commented on #138
Hi @jity16 did you figure out why the critic loss explodes? I'm recently implementing BPTT and facing similar problems. Sorry for commenting on the closed issue.

[2022-07-07 15:55] #130 closed

[2022-07-07 15:55] #144 closed

[2022-07-07 15:56] #155 closed

[2022-07-10 20:58] ManuelRios18 commented on #143
This PR is intended to implement DreamerV2?

[2022-07-11 12:19] luisenp commented on #143
Hi @ManuelRios18 that PR is intended to implement the original Dreamer.

[2022-07-27 17:23] matthiaskiller opened #159 "[Bug] MBPO - Epoch loop missing steps_epoch reset"
## Observed

mbpo.py - line 199

in the for loop that is incrementing the steps of the current epoch, the steps_epoch iteration variable is not being reset after we observe a termination (done=True).
This will mean the next epoch will start from the steps_epoch+1 in which the previous epoch ended.
And the next epoch will be shorter than the actual epoch length (i.e. epoch_length - steps_epoch)

[c

[2022-07-28 01:36] luisenp commented on #159
This wasn't intentional, good catch! Would you be interested in submitting a PR with the fix? If not, that's OK, thanks a lot for the bug report!

[2022-07-28 19:24] matthiaskiller commented on #159
Yes, sure!

[2022-08-05 15:58] luisenp opened #162 "[Feature Request] Add option to use `functorch` for `BasicEnsemble`"
# 🚀 Feature Request

Change `BasicEnsemble` to optionally use `functorch.vmap`.

## Motivation and Pitch

**Is your feature request related to a problem? Please describe.**

`BasicEnsemble` lets the user provide arbitrary models, which are stacked together using a very naive loop-based implementation. We should be able to do this more efficiently now using `functorch`.

[2022-08-05 16:01] natolambert commented on #162
Torch has a `vmap`??? !!!

[2022-08-05 16:06] luisenp commented on #162
It's via `functorch` which is a separate [library](https://github.com/pytorch/functorch) butI think they work closely with PyTorch's team.

[2022-08-15 20:47] natolambert opened #164 "[Feature Request] Output Normalization / Scaling"
# 🚀 Feature Request

When training non delta-state models, the outputs of dynamics models can take large values (way outside a unit Gaussian). In the past I have tried using output scalars to let the outputs try to learn something close to a unit Gaussian rather than variables with diverse scales.

## Motivation

**Is your feature request related to a problem? Please describe.**
I think it would h

[2022-08-19 22:26] luisenp commented on #164
Not fully understand the normalization you have in mind. Are you referring to passing a set of constant scalars to be applied to the output of the dynamics model?

[2022-08-24 21:49] natolambert commented on #164
A set of scalars (can almost use the input normalizers) that map from the raw network outputs to the actual states of the environment.

Two times this was useful:
1. Especially when using real-world data I found this could help with training convergence a lot (letting models stay in their proven region of mapping from things in the range of unit Gaussians to outputs of unit Gaussians).
2. when usi

[2022-09-08 13:31] ss555 opened #166 "hyperparameters optimization"
# 🚀 Feature Request

I would like to optimize the hyperparameters on a custom environment for PE-TS and other algorithms.

## Motivation

How did you find the optimal hyperparameters for the algorithms? for example PE-TS cartpole

## Pitch

PE-TS example
I did the grid search for 4 parameters: horizon_size, alpha, number of hidden layers, hidden layer dimension.

problems:
what parameters are more

[2022-09-08 13:51] luisenp commented on #166
Hi @ss555, thanks for the interest and the offer to open a PR. Just wanted to quickly mention that it's currently possible to do some hyperparameter tuning of our examples by using hydra's with the [Nevergrad plugin](https://hydra.cc/docs/plugins/nevergrad_sweeper/). The parameters on our defaults configs were indeed found that way using a small random search, but Nevergrad supports much more soph

[2022-09-29 21:01] chenxi-yang commented on #137
@MansonX May I ask if you got the luck to make walker2d work? Separately, I also have issues with hopper. Did you get Hopper-v2 work?
Thanks!

[2022-09-29 21:48] chenxi-yang opened #167 "[Bug] What's the real_data_ratio to hopper and walker2d?"
Hi I can not make hopper and walker2d work in this default setting. May I ask if you set a >0 real_data_ratio to these two experiments? Thanks!

[2022-10-01 11:49] luisenp commented on #167
Hi @chenxi-yang, thanks for the report. Can you be more explicit on the errors you are getting? Is it not learning at all, or is it that the reward less than you expect? I don't think I've ever used `real_data > 0`.

[2022-10-03 19:20] luisenp commented on #167
Ah, got it. Unfortunately, the peaky behavior is definitely an issue for our MBPO implementation; certainly it is for Hopper, but I think also for other domains. Not sure if this is the cause, but when I swept for hyperparameters, I roughly optimized for area under curve on a single seed, rather than stable behavior. So, it's possible that this could be addressed by tweaking hyperparameters, but I

[2022-10-06 18:36] natolambert opened #169 "[Feature Request] Upload Dynamics Models to the HuggingFace Hub"
# 🚀 Feature Request

Add functionality to upload dynamics models /policies to the HF hug at end of training or during training for sharing / fine-tuning.

## Motivation

We want to be able to re-use computation and make easier demo's showcasing this library.

Happy to help with this.

## Additional context
Add any other context or screenshots about the feature request here.

[2022-10-08 10:43] MansonX commented on #137
My MBPO works well on both env you mentioned after SAC get changed. You can check this issue. https://github.com/facebookresearch/mbrl-lib/issues/138.

[2022-10-11 14:51] luisenp commented on #169
Hi @natolambert, sorry for the delay, it was a long weekend :)

This definitely sounds interesting, but I don't have any experience doing this. If you are willing to get a PR started, that would be awesome!

[2022-10-11 17:22] natolambert commented on #169
Great. Happy to take the lead. May grab some co-workers to help.

This was motivated by a new workshop @agarwl is making to re-use computation in RL 🤗

[2022-10-26 03:18] chenxi-yang commented on #167
Thanks for the update.

[2022-10-26 03:18] #167 closed

[2022-11-23 05:39] mohakbhardwaj commented on #164
Hi, is there any update regarding this? I have also used it in the past and found it to be useful in certain cases. Thanks!

[2022-11-23 16:07] natolambert commented on #164
@mohakbhardwaj -- I haven't made the time to make the PR. Happy to provide feedback if you take a stab at it?

[2022-11-30 18:00] natolambert commented on #169
@luisenp do you have checkpoints of the models used in the benchmarking efforts of the paper? Or do I have to re-train to get them. Thanks for checking!

(those will be my proof of concept for this feature!)

[2022-11-30 18:07] luisenp commented on #169
I have a lot of checkpoints stored for different versions of the library, but need to dig a little bit to check if any correspond to the latest version. I can also run some jobs again if need be. Would you like to start with something in particular?

[2022-11-30 18:10] natolambert commented on #169
Generally my goal for this PR would be do get the code working (actually the easy part), and say you can easily run a couple agents that are pretrained with xyz lines of code.

Then, if we have some pretrained models, it's also nice for people to new research ideas with them.

So, I can work with whatever tasks / models you have as long as we can document them. Don't need a ton to get started, we